$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.angular-google-map-container {
    height: 400px;
    width: 1000px;
    border: 10px solid gray;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 80%;
}


/* Make the masthead heading the same height as the navigation */
header {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    padding-left: 0px;
    padding-right: 0px;
    height: 50px;
    width: 1025px;
    color: white;
    font-family: helvetica;
    font-style: oblique;
    font-weight: bold;
    font-size: 125%;
    text-shadow: 7px 7px 7px gray;
}

/* Custom page footer */
footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-shadow: 3px 3px 3px gray;
    font-size: 80%;
    font-family: helvetica;
}

.container-narrow > hr {
    margin: 30px 0;
}


// .btn {
//     text-align: center;
//     text-shadow: 5px;
//     font-size: 21px;
//     padding: 14px 24px;
//     color: #39257c;
//     box-shadow: 5px 5px 5px 5px, #777777;
// }

/* Supporting marketing content */
// .marketing {
//     margin: 40px 0;
// }

// .marketing p + h4 {
//     margin-top: 28px;
// }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 4000px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 100;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 50px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    // .jumbotron {
    //     border-bottom: 0;
    // }
}
    

    // STARTING KAT STYLES

    .header
    .section
    .footer
    .aside
    .navigation
    .article
    .figure
    .figcaption
     { 
        display: block;

    }

    .body {
        color: #666666;
        background-color: #f9f8f6;
        background-image: url("images/boneyardbeachlynch.jpg");
        background-position:  center;
        font-family: helvetica, Georgia, Times, sans-serif;
        line-height: 1.4em;
        margin: 0px;
        width: 750;
    }
    .btn-default{
        position: center;
        }
    .nav
    .footer
    {
        clear: both;
        color: #177f75;
        background-color: #aeaca8;
        height: 30px;
        width: 750px;
    }
    .footer {
    padding-top: 19px;
    // color: #777;
    border-top: 1px solid #e5e5e5;
    text-shadow: 3px 3px 3px gray;
}
    .nav ul {
        margin: 0px;
        padding: 5px 0px 5px 30px;
    }
    .nav li {
        display: inline;
        margin-right: 40px;
    }
    .nav li a {
        color: #105952;
        background-color: lavender
    }
    .nav li a:hover, 
    .nav li a.current {
        color: #000000;
    }
    .section.islands {
        float: left;
        width: 659px;
        border-right: 1px solid #eeeeee;
    }
    .article {
        clear: both;
        overflow: auto;
        width: 100%;
    }
    .hgroup {
        margin-top: 40px;
    }
    .figure {
        float: left;
        width: 290px;
        height: 220px;
        padding: 5px;
        margin: 20px;
        border: 1px solid #eeeeee;
    }
    .figcaption {
       font-size: 90%;
       text-align: left;
    }
    .aside {
        width: 230px;
        float: left;
        padding: 0px 0px 0px 20px;
    }
    .aside section a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #eeeeee;
    }
    .aside section a:hover {
        color: #985d6a;
        background-color: #efefef;
    }
    a {
        color: #985d6a;
        text-decoration: none;
    }
    .h1
    .h2
    .h3 {
        font-weight: normal;
    }
    .h2 {
        margin: 1-px 0px 5px 0px;
        padding: 0px;
        color: #034A99;
    }

    .h3 {
        margin: 0px 0px 10px 0px;
        color: #de6581;
        font-style: oblique;
        text-shadow: 3px 3px 3px gray;
    }
    .aside h2 {
        padding: 30px 0px 10px 0px;
        color: #de6581;
    }
    .p {
        font-weight: bold;
        font-style: oblique;
        font-size: 18px;
    }
    .footer {
        font-size: 80%;
        padding: 7px 0px 0px 20px;
    }
    .h4 {
        color: #034A99;
    }
    .a:visited {
        color: black;
    }

    .a:hover {
        color: dark blue;

    }

    .h2 {
        font-style: oblique;
        font-weight: bold;
        color: #2A05A1;
    }


body {
    background: url("../images/steering_bg.jpg") no-repeat center center fixed;
    background-size: cover;
}
