$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.angular-google-map-container {
    height: 400px;
    width: 1000px;
    border: 10px solid gray;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 80%;
}


/* Make the masthead heading the same height as the navigation */
header {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    padding-left: 0px;
    padding-right: 0px;
    height: 50px;
    width: 1025px;
    color: white;
    font-family: helvetica;
    font-style: oblique;
    font-weight: bold;
    font-size: 125%;
    text-shadow: 7px 7px 7px gray;
}

/* Custom page footer */
footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-shadow: 3px 3px 3px gray;
    font-size: 80%;
    font-family: helvetica;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 4000px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 100;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 50px;
    }
    
}
    

    // STARTING KAT STYLES

    .header
    .section
    .footer
    .aside
    .navigation
    .article
    .figure
    .figcaption
     { 
        display: block;

    }

    body {
        color: #666666;
        background: url("../images/steering_bg.jpg") no-repeat center center fixed;
        background-size: cover;
        background-position:  center;
        font-family: helvetica, Georgia, Times, sans-serif;
        line-height: 1.4em;
        margin: 0px;
        width: 750;
    }
    
    .nav
    .footer
    {
        clear: both;
        color: #177f75;
        background-color: #aeaca8;
        height: 30px;
        width: 750px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-shadow: 3px 3px 3px gray;
        font-family: 'Raleway', sans-serif;
    }

    .nav ul {
        margin: 0px;
        padding: 5px 0px 5px 30px;
    }
    .nav li {
        display: inline;
        margin-right: 40px;
    }
    .nav li a {
        color: #105952;
        background-color: lavender;
        font-size: 16px;
        font-family: helvetica;
    }
    .nav li a:hover, 
    .nav li a.current {
        color: #000000;
    }
    .section.islands {
        float: left;
        width: 659px;
        border-right: 1px solid #eeeeee;
    }
    article {
        clear: both;
        overflow: auto;
        width: 100%;
        font-family: helvetica;
        font-size: 20px;

    }
    
    .figure {
        float: right;
        width: 340px;
        height: 250px;
        padding: 20px;
        margin: 20px;
        // border: 5px solid #eeeeee;
    }
    figcaption {
       font-size: 2rem;
       font-family: helvetica;
       text-align: bottom;
       color: black;
    }
    aside {
        width: 230px;
        float: left;
        padding: 0px 0px 0px 20px;
    }
    aside section a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #eeeeee;
    }
    aside section a:hover {
        color: #985d6a;
        background-color: #efefef;
    }
    a {
        color: #985d6a;
        text-decoration: none;
    }
    h1
    h2
    h3 {
        font-weight: normal;
        font-family: 'Raleway', sans-serif;;
    }
    h2 {
        font-weight: bold;
        font-style: normal;
        font-stretch: extended;
        font-family: helvetica;
        color: black;
        margin: 1px 0px 5px 0px;
        
    }

    h3 {
        font-weight: bold;
        font-style: normal;
        font-stretch: extended;
        font-family: helvetica;
        color: black;
        margin: 1px 0px 5px 0px;
        text-shadow: 3px 3px 3px gray;
        font-family: helvetica;
    }
    aside h2 {
        padding: 30px 0px 10px 0px;
        color: black;
    }
    p {
        font-weight: bold;
        // font-style: oblique;
        font-size: 20px;
        font-family: helvetica;
        color: black;
    }
    footer {
        font-size: 80%;
        padding: 7px 0px 0px 20px;
    }
    h4 {
        color: #034A99;
        font-family: helvetica;
    }
    a:visited {
        color: black;
    }

    a:hover {
        color: dark blue;

    }

    .image {
        background-image: url("../images/steering_bg.jpg");
    }


// Home Page Styling - DO I NEED TO CREATE ITS OWN CSS SHEET FOR IT?

    .content-left {
        position: fixed;
        width: 65%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100%;
        overflow: hidden;
    }

    .content-right {
        float: left;
        margin-left: 65%;
        width: 35%;
        background: #182f44;
    }

    .content-left .hover-background {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;

    }

    .content-left .hover-background.active {
        opacity: 1;
    }