<!DOCTYPE html>
<html lang="en">
<div background=img src="images/steering.jpg" alt="Edisto Island"/>
<head>
  <meta charset="UTF-8">
  <title>SC BARRIER ISLANDS PAGE</title>
  <head>
  <meta charset="UTF-8">
  <title>Edisto</title>
  <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#/main">Home</a></li>
    <li><a ng-href="#/history">History</a></li>
    <li><a ng-href="#/scbarrierislands">South Carolina Barrier Islands</a></li>
    <li><a ng-href="#">Explore</a></li>
    <li><a ng-href="#/kackie">Edisto</a></li>
  </ul>
  <h3 class="text-muted"><a ng-href="#/scbarrierislands">SC Barrier Islands</a></h3>
  </div>

  </head>
<body>
  <div class="wrapper">
    <header>
      <h1>Edisto Island</h1>
     </header> 
  <br>
  
  </br>
  
      <h3>Relaxation Is A Prerequiste</h3>
    
      <p>Edisto Island is one of South Carolina's Sea Islands, the larger part of which lies in Charleston County, with its southern tip in Colleton County. The Charleston County part is a census-designated place. The population was 2,301 at the 2000 census.The town of Edisto Beach is located in Colleton County.
      The island and town were named after the historic Edistow people, a Native American sub-tribe of the Cusabo Indians. They inhabited the island as well as nearby mainland areas.</p>
    
    <article>
      <figure>
        <img src="images/steering.jpg" alt="Edisto Island"/>
        <figcaption>Edisto Island</figcaption>
      </figure>
      <hgroup>
        <h2>History of Edisto</h2>
        <h3>Edisto National Register of Historic Places</h3>
      </hgroup>
      <p>The first tracts of land, called plantations, were granted on Edisto Island before 1700. Landowners first harvested timber and deerskins, planted indigo and some rice, and kept herds of free-ranging cattle to produce hides for the European market and salt beef for Caribbean plantations. Cotton gradually became the principal crop, and after the American Revolution, Edisto Island planters became wealthy and famous from their production of long-staple Sea Island cotton. The labor done by hundreds of enslaved Africans who developed the creole Gullah language and culture on the islands and in the Lowcountry, distinctive for its African traditions.
      Since the twentieth century, the island has been redeveloped for use as a tourist destination and resorts, although some private plantations remain.
      The Alexander Bache U.S. Coast Survey Line, Bailey's Store, Bleak Hall Plantation Outbuildings, Brick House Ruins, Brookland Plantation, Cassina Point, Crawford's Plantation House, Edisto Island Baptist Church, Edisto Island Presbyterian Church, Fig Island, Frogmore, Paul Grimball House Ruins, Hutchinson House, Middleton's Plantation, Oak Island, Old House Plantation, Peter's Point Plantation, Presbyterian Manse, Prospect Hill, William Seabrook House, Seaside School, Seaside Plantation House, Spanish Mount Point, Sunnyside, Hephzibah Jenkins Townsend's Tabby Oven Ruins, Trinity Episcopal Church, Wescott Road, and Windsor Plantation are listed in the National Register of Historic Places.</p>
    </article>
  </section>
  <aside>
      <section class="edisto-plantations">
        <h2>Edisto Plantations</h2>
          <ul>
            <li><a href="http://en.wikipedia.org/wiki/Seaside_Plantation_House">Seaside Plantation House</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Peter%27s_Point_Plantation">Peter's Point Plantation</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Windsor_Plantation">Windsor Plantation</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Crawford%27s_Plantation_House">Crawford's Plantation House</a></li>
        </section>
        <section class="edistobeach-info">
          <h2>Edisto Beach</h2>
          <p>Edisto Beach was originally settled by the Edisto Indians, but was rediscovered by the Spanish in the late 16th century. Thereafter, commerce on the Island began to develop. Rice and indigo were the most common crops during the early settlement years. Later, significant cotton plantations were built and flourished. This industry, fueled by rich land owners and slaves, prospered until the Civil War.
          Although the Union soldiers thereafter invaded Edisto, and John's Island, the Confederate forces were able to retain control of Charleston until 1865, very late in the Civil War.
          By the 1920s South Carolina residents began arriving to Edisto Island, and Edisto Beach to build crude retreats. In those days, access to the island could be gained only at low tide by driving or riding across the marsh on beds of oyster shells.
          Although most homes on the island were destroyed in the 1940s, Hurricane Hugo spared the island in 1989. It has since become a vacation destination with a section of the island recently purchased by Wyndham Resorts.[3] In 2012, Edisto held its first ever road race attracting close to 200 runners, including the mayor.[4]</p>
        </section>
      </aside>



  <div class="footer">
  <p><a href="http://katherinemattison.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
  </div>
<!-- </div> .wrapper  -->
</body>
</div>
</html>

