<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SC BARRIER ISLANDS PAGE</title>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>South Carolina Barrier Islands</h1>
      <nav>
        <ul class="nav nav-pills pull-right">
          <li class=""><a ng-href="#">Home</a></li>
          <li><a ng-href="#/history">History</a></li>
          <li><a ng-href="#/scbarrierislands">Barrier Islands</a></li>
          <li><a ng-href="#/activities">Explore</a></li>
          <li><a ng-href="#/kackie">Practice</a></li>
        </ul>
       </nav>
      </header> 
  <h3 class="text-muted"><a ng-href="#/scbarrierislands">SC Barrier Islands</a></h3>


  <div class='body'>
      
      <img src="images/sand_sea.jpg" alt=scbarrierislands ng-href="#/history"><br>
  
    <p><a class="btn btn-lg btn-default" ng-href="#/scbarrierislands">EXLORE THE ISLANDS!</a></p>
  </div>  



  <div class="footer">
  <p><a href="http://katherinemattison.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
  </div>
  <!-- </div> .wrapper -->
</body>
</html>