<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SC BARRIER ISLANDS PAGE</title>
  <head>
  <meta charset="UTF-8">
  <title>ACTIVITIES</title>
  <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#/main">Home</a></li>
    <li><a ng-href="#/history">History</a></li>
    <li><a ng-href="#/scbarrierislands">South Carolina Barrier Islands</a></li>
    <li><a ng-href="#">Explore</a></li>
    <li><a ng-href="#/kackie">Edisto</a></li>
  </ul>
  <h3 class="text-muted"><a ng-href="#/scbarrierislands">SC Barrier Islands</a></h3>
</div>

</head>
<body>
  <div class="wrapper">
    <header>
      <h1>South Carolina Barrier Islands</h1>
      </header> 
  <!-- <h3 class="text-muted"><a ng-href="#/scbarrierislands">SC Barrier Islands</a></h3> -->


  <div class='body'>
      
      <img src="images/sand_sea.jpg" alt=scbarrierislands ng-href="#/history"/><br>
  
    <p><a class="btn btn-lg btn-default" ng-href="#/scbarrierislands">EXLORE THE ISLANDS!</a></p>
  </div>  



  <div class="footer">
  <p><a href="http://katherinemattison.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
  </div>
  <!-- </div> .wrapper -->
</body>
</html>