<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SC BARRIER ISLANDS PAGE</title>
  <meta charset="UTF-8">
  <title>ACTIVITIES</title>
</head>

  <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#">Home</a></li>
    <li><a ng-href="#/history">History</a></li>
    <li><a ng-href="#/scbarrierislands">South Carolina Barrier Islands</a></li>
    <li><a ng-href="#/postcards">Postcards</a></li>
    <li><a ng-href="#/kackie">Edisto</a></li>
  </ul>
  </div>
<body>
<div class="wrapper">
  <header>
    <h1>South Carolina Barrier Islands</h1>
  </header> 
  
  

  <div class="figure">
      <figure>
        <img src="images/bullisland.jpg" alt="Bull Island"/>
        <figcaption>Bull Island</figcaption>
      </figure>
  </div>  

  <div class="figure">
      <figure>
        <img src="images/edistosunset.jpg" alt="Edisto Island"/>
        <figcaption>Edisto Island</figcaption>
      </figure>
  </div>  

  <div class="figure">
      <figure>
        <img src="images/iopbeach.jpg" alt="IOP Beach"/>
        <figcaption>Isle of Palms</figcaption>
      </figure>
  </div>  

  <div class="figure">
      <figure>
        <img src="images/sand_sea.jpg" alt="Sand and Sea"/>
        <figcaption>Sand and Sea</figcaption>
  </div>  

  <div class="figure">
      <figure>
        <img src="images/boneyardbeachlynch.jpg" alt="Boneyard Beach"/>
        <figcaption>Boneyard Beach</figcaption>
      </figure>
  </div>  

  <div class="figure">
      <figure>
        <img src="images/waties-island.jpg" alt="Waties Island"/>
        <figcaption>Waites Island</figcaption>
      </figure>
  </div>  
  



  
  <!-- </div> .wrapper -->


</body>
<footer>
  <p><a href="http://katherinemattison.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
</footer>
</html>