<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Send a Postcard</title>
	<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#/main">Home</a></li>
    <li><a ng-href="#/history">History</a></li>
    <li><a ng-href="#/scbarrierislands">South Carolina Barrier Islands</a></li>
    <li><a ng-href="#">Postcards</a></li>
    <li><a ng-href="#/edisto">Edisto</a></li>
  </ul>
  <h3 class="text-muted"><a ng-href="#/scbarrierislands">SC Barrier Islands</a></h3>
</div>
</head>
<body>
  <hgroup>
  
    <h2>JACK'S FAVORITE ISLANDS</h2>
        
  </hgroup>
   <article>   
      <p>The Sea Islands are a chain of tidal and barrier islands on the Southeastern Atlantic Ocean coast of the United States. Numbering over 100, they are located between the mouths of the Santee and St. Johns Rivers along the coast of the US states of South Carolina, Georgia, and Florida.</p> 
    </article>
<section class="islands">
    <br>

    </br>
    <article>
      <figure>
        <img src="images/waties-island.jpg" alt="Waties Island"/>
        <figcaption>Waites Island</figcaption>
      </figure>
    </article>
    <br>

    </br>
  
    <article>
      <figure>
        <img src="images/bullisland.jpg" alt="Bull Island"/>
        <figcaption>Bull Island</figcaption>
      </figure>
    </article>
    <br>

    </br>
    <article>
      <figure>
        <img src="images/boneyardbeachlynch.jpg" alt="Boneyard Beach"/>
        <figcaption>Boneyard Beach</figcaption>
      </figure>
    </article>
    <br>

    </br>
    <article>
      <figure>
        <img src="images/edistosunset.jpg" alt="Edisto Sunset"/>
        <figcaption>Edisto Sunset</figcaption>
      </figure>
    </article>
    <br>

    </br>
    <article>
      <figure>
        <img src="images/iopbeach.jpg" alt="IOP Beach"/>
        <figcaption>Isle of Palms</figcaption>
      </figure>
    </article>
    <br>

    </br>
    <article>
      <figure>
        <img src="images/sand_sea.jpg" alt="Sand and Sea"/>
        <figcaption>Sand and Sea</figcaption>
      </figure>
    </article>
  </section>
      
      
         
<div class="footer">
  <p><a href="http://katherinemattison.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
</div>
<!-- </div> .wrapper -->
</body>
</html>