<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SC BARRIER ISLANDS PAGE</title>
	<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class=""><a ng-href="#/main">Home</a></li>
    <li><a ng-href="#/history">History</a></li>
    <li><a ng-href="#">Barrier Islands</a></li>
    <li><a ng-href="#/activities">Explore</a></li>
    <li><a ng-href="#/kackie">Practice</a></li>
  </ul>
</div>
</head>
<body>

	<div>
  <!-- <h1>THE BEACH HOUSE</h1>
  <p class="lead">
    <img src="images/edistosunset.jpg" alt="Charleston"><br>
    THE EDISTO LIFE
  </p> -->
  <!-- <p><a class="btn btn-lg btn-default" ng-href="#">Explore Edisto</a></p> -->

  <h1>South Carolina Barrier Islands</h1>

  <google-map center="map.center" zoom="map.zoom">

  <marker coords="marker.coords"> </marker>

  <marker data-ng-repeat="marker in markerList" coords="marker"> 
    <window isIconVisibleOnClick="true"> </window>
    </marker>

</google-map>

</div>
<br>
  
</br>

<h2>Explore a Few of Our Favorite Islands!</h2>
  <ul>
    <li><a ng-href="#/history">Bulls Island</a></li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit expedita praesentium numquam soluta est, nihil excepturi delectus optio, sit, eius sequi enim. Reiciendis maxime quo blanditiis, qui quisquam iure expedita.</p>
    <li><a ng-href="http://www.charlestoncvb.com/beaches/sullivans-island/">Sullivan's Island</a></li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit expedita praesentium numquam soluta est, nihil excepturi delectus optio, sit, eius sequi enim. Reiciendis maxime quo blanditiis, qui quisquam iure expedita.</p>
    <li><a ng-href="http://en.wikipedia.org/wiki/Edisto_Island,_South_Carolina">Fripp Island</a></li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit expedita praesentium numquam soluta est, nihil excepturi delectus optio, sit, eius sequi enim. Reiciendis maxime quo blanditiis, qui quisquam iure expedita.</p>
    <li><a ng-href="http://en.wikipedia.org/wiki/Edisto_Island,_South_Carolina">Edisto Island</a></li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit expedita praesentium numquam soluta est, nihil excepturi delectus optio, sit, eius sequi enim. Reiciendis maxime quo blanditiis, qui quisquam iure expedita.</p>
    <li><a ng-href="http://www.hiltonheadisland.org/about-the-island/">Hilton Head</a></li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit expedita praesentium numquam soluta est, nihil excepturi delectus optio, sit, eius sequi enim. Reiciendis maxime quo blanditiis, qui quisquam iure expedita.</p>
    <li><a ng-href="http://www.charlestoncvb.com/beaches/isle-of-palms/">Isle of Palms</a></li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit expedita praesentium numquam soluta est, nihil excepturi delectus optio, sit, eius sequi enim. Reiciendis maxime quo blanditiis, qui quisquam iure expedita.</p>
    <li><a ng-href="http://www.hiltonheadisland.org/daufuskie-island/">Daufuskie Island</a></li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit expedita praesentium numquam soluta est, nihil excepturi delectus optio, sit, eius sequi enim. Reiciendis maxime quo blanditiis, qui quisquam iure expedita.</p>
    <li><a ng-href="http://www.hiltonheadisland.org/daufuskie-island/">Folly Beach</a></li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit expedita praesentium numquam soluta est, nihil excepturi delectus optio, sit, eius sequi enim. Reiciendis maxime quo blanditiis, qui quisquam iure expedita.</p>

<div class="footer">
  <p><a href="http://katherinemattison.com"><span class="glyphicon glyphicon-eye-open"></span> THEKACKIEPROJECT</a></p>
</div>
<!-- </div> .wrapper -->
</body>
</html>